{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto pt-40">
        <div class="text-center py-12 border-b border-gray-200">
            <h1 class="text-6xl text-center pb-12">
                Login
            </h1>

            <form method="post" class="form-container">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <input
                        type="email"
                        value="{{ last_username }}"
                        name="email"
                        id="inputEmail"
                        class="form-control chic-input"
                        placeholder="Email Address"
                        autocomplete="email"
                        required
                        autofocus
                >

                <input
                        type="password"
                        name="password"
                        id="inputPassword"
                        class="form-control chic-input"
                        placeholder="Password"
                        autocomplete="current-password"
                        required
                >

                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >

                <button
                        type="submit"
                        class="btn btn-outline-light me-2">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}

