{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto pt-40">
        <h1 class="text-6xl text-center pb-12">
            Register
        </h1>

        <div class="form-container">
            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email, {
                'label': 'Email Address',
                'attr': {'class': 'form-control chic-input'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Password',
                'attr': {'class': 'form-control chic-input'}
            }) }}
            {{ form_row(registrationForm.firstName, {
                'label': 'First Name',
                'attr': {'class': 'form-control chic-input'}
            }) }}
            {{ form_row(registrationForm.lastName, {
                'label': 'Last Name',
                'attr': {'class': 'form-control chic-input'}
            }) }}
            {{ form_row(registrationForm.username, {
                'label': 'Username',
                'attr': {'class': 'form-control chic-input'}
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                'label': 'Agree to Terms',
                'attr': {'class': 'form-check chic-check'}
            }) }}

            <button
                    type="submit"
                    class="btn btn-outline-light me-2">
                Register
            </button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

