{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <div style="background: url({{ asset(movie.image) }}) no-repeat center center; background-size: cover; min-height: 100vh;">
        <div class="container text-center" style="padding-top: 100px; color: white;">
            <div style="background-color: rgba(0,0,0,0.5); display: inline-block; padding: 20px;">
                <h1>{{ movie.title }} ({{ movie.releaseYear }})</h1>
                <p>{{ movie.director }} | Running Time: {{ movie.runningTime }}</p>
                <div>
                    <strong>Cast:</strong> <span>{{ movie.cast }}</span>
                </div>
                <div>
                    <strong>Reviews:</strong>
                    {% if movie.reviews|length > 0 %}
                        {% for review in movie.reviews %}
                            <div class="review">
                                <h4>{{ review.title }}</h4>
                                <p>{{ review.reviewText }} <br> |{{ review.author.username }}|
                                    {{ review.createdAt|date('Y-m-d H:i:s') }}|</p>

                                {% if app.user and review.author == app.user %}
                                    <div class="text-end">
                                        <a href="{{ path('edit_review', {'id': review.id}) }}" class="btn btn-outline-light me-2">Edit Review</a>
                                    </div>

                                {% endif %}
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <p>No reviews yet.</p>
                    {% endif %}
                    {% if app.user %}
                        <div class="text-end">
                            <a href="{{ path('add_review', {'movieId': movie.id}) }}" class="btn btn-outline-light me-2">Add Review</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

