{% extends 'base.html.twig' %}



{% block body %}
    <div style="background: url({{ asset(movie.image) }}) no-repeat center center; background-size: cover; min-height: 100vh;">
        <div class="container text-center" style="padding-top: 100px; color: white;">
            <div style="background-color: rgba(0,0,0,0.5); display: inline-block; padding: 20px;">
                <h1>{{ movie.title }} ({{ movie.releaseYear }})</h1>
                <p>{{ movie.director }} | Running Time: {{ movie.runningTime }}</p>
                <div>
                    <strong>Cast:</strong>

                        <span>{{ movie.cast }}</span>

                </div>
                <div>
                    <strong>{{ movie.review.title }}</strong>
                    <p>{{ movie.review.getReviewText }}</p>

                    {% if app.user %}
                    <div class="text-end">
                        <a href="/movies/edit/{{ movie.id }}" class="btn btn-outline-light me-2">
                            Edit
                        </a>
                    </div>
{% endif %}

                </div>

            </div>

        </div>
    </div>

{% endblock %}
