{% extends "//base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto pt-40">
        <h1 class="text-6xl text-center pb-12">
            Create Review
        </h1>

        <div class="form-container">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button
                    type="submit"
                    class="btn btn-outline-light me-2">
                Submit Post
            </button>
            {{ form_end(form) }}


        </div>




        {{ form_end(form) }}
    </div>

{% endblock %}